@use "../abstracts/variables" as v;

html,
body {
  font-family: v.$font-karla;
}

input,
select {
  display: block;
  align-items: center;
  height: 4rem;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  margin: 0.4rem 0rem;

  font-size: 0.9rem;
  color: #666666;
  padding: 0 0.7rem;
}

select {
  text-transform: capitalize;
}

button[type="submit"],
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  margin: 1.5rem 0rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #e5f1fc;
  box-shadow: 0 2px #b6b6b6;
  color: #559fef;
  font-weight: bold;
  &:active {
    color: #e5f1fc;
    background-color: #559fef;
  }
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
}
