.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  border: 10px solid #f2f2f7;
  border-radius: 50%;
  width: 14rem;
}

.h1 {
  font-weight: bolder;
  text-align: center;
}

.section {
  width: 100%;
  h3 {
    color: #8e8e93;
  }
}

.back {
  width: 100%;
  a {
    display: flex;
    text-decoration: none;
    color: #000000;
  }
  img {
    margin-right: 0.5rem;
  }
}

.tab {
  padding: 0.5rem 0;
  border-bottom: 2px solid #ededed;
  h4 {
    font-size: 1.2rem;
  }
  p {
    color: #798192;
  }
}
