.list {
  padding: 4rem 4rem;
  box-shadow: 0 5px 10px #b6b6b6;
  border-radius: 10px;
  margin: 1.5rem 0;
  text-align: center;
  h3 {
    color: #000000;
  }
  p {
    color: #798192;
  }
  a {
    text-decoration: none;
  }
}
